<ion-view title="Login">
  <ion-nav-buttons side="right">
    <button ng-click="logger.login()" ng-disabled="!logger.password ||!logger.repassword || logger.password.length === 0 || logger.password != logger.repassword"
      class="button button-clear button-positive">Sign In</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button ng-click="logger.register()" ng-disabled="!logger.password ||!logger.repassword || logger.password.length === 0 || logger.password != logger.repassword"
      class="button button-clear button-positive">Sign Up</button>
  </ion-nav-buttons>
  <ion-content class="login">
    <div class="text-center instructions">
      Please confirm your email and enter your password
    </div>
    <div class="listlogin">
      <label class="item item-input">
        <input ng-model="logger.email" on-return="logger.login()" type="email" placeholder="Your email">
      </label>
      <label class="item item-input">
        <input ng-model="logger.password" on-return="logger.login()" type="password" placeholder="Your password">
      </label>
      <label class="item item-input">
        <input ng-model="logger.repassword" on-return="logger.login()" type="password" placeholder="Re password">
      </label>
        <input ng-model="logger.email" on-return="logger.register()" type="hidden" placeholder="Your email">
        <input ng-model="logger.password" on-return="logger.register()"  type="hidden"  placeholder="Your password">
        <input ng-model="logger.repassword" on-return="logger.register()" type="hidden"  placeholder="Re password">
    </div>
  </ion-content>
</ion-view>